/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/app/public/*
/database/*.sqlite
/database/*.sqlite-journal
.DS_Store
.idea
.vscode
*.bak
*.swp
*.tmp
